/* SKILLS */
.skills-container, .skills-items,.skill-item{
    flex-flow: row wrap;
    background-color: var(--ghost-white);
}
.skill-item{
    width: 30%;
    height: auto;
    margin: 20px;
}
.skill-item .bx{
    font-size: 15vw;
    color: var(--russian-violet);
}
.skills-container img{
    display: none;
}
.skills-container h2{
    font-size: 15vw;
    font-weight: 800;
    text-shadow: 0px 5px  var(--melon), 0 10px var(--ful-yellow);
    color: var(--russian-violet);
    text-align: center;
    transition: .6s;
    animation: jump 2s infinite ease-in;
}
.pink-wave{
    background-color: var(--ghost-white);
}