@import url(header.css);
@import url(btnStyles.css);
@import url(skills.css);
@import url(projects.css);
@import url(about-me.css);
@import url(footer.css);
@import url(keyFrames.css);
@import url(mediaquery.css);

:root{
/* CSS HEX */
--honolulu-blue: #197bbdff;
--ghost-white: #f2f4ffff;
--ghost-white-transparent: #f2f4ff00;
--russian-violet: #0b032dff;
--melon: #f0b5b3ff;
--ful-yellow:#FFF500;
--opacity-yellow:#fff70098;
}
*{
    list-style: none;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family:'Dosis','Martels','Montserrat','Raleway','Bitter';
    background: var(--russian-violet);
    color: var(--ghost-white);
    font-family: 'Montserrat', sans-serif;
}
/* ELEMENTOS DISPLAY */
.skills-container, .skills-items,.projects-container,.projects-slider,.projects-description,.projects-item,.project-skill,.projects-btn-slider,.projects-btn-slider ul,footer, form,.contact-more-info,.contact-btn-container,.contact-container,.contact-redes{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.skill-item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.wave{
    margin: 0;
    width: 100%;
    height: auto;
    border: none;
}
/* RESPONSIVE DESKTOP */
@media screen and (min-width:570px){
    nav .menu-btn-hamburguesa{
        display: none;
    }
    nav .menu .menu-btn-close{
        display: none;
    }
    nav .menu{
        width: 70%;
        height: auto;
        transform: translateY(0);
        top: 0;
        padding: 0;

        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-flow: row;
        background-color: var(--ghost-white-transparent);
    }
    nav .menu li{
        width: 100%;
        margin: 10px 5px;
        font-size: 1em;
        margin: 10px 0;
        padding: 0;
        color: var(--ghost-white);

    }
    nav .menu li a{
        color: var(--ghost-white);
        transition: .5s;

    }
    nav .menu li a:hover{
        color: var(--russian-violet);
        background-color: var(--melon);
        padding: 8px 15px;
        border-radius: 10px;
        transition: .5s;
    }
    nav .container-logo{
        width: 100%;
        margin-top: 10px;
        margin-left: 20px;
     }
    nav .container-logo img{
        width: 100%;
     }
     .banner-container{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 20px auto;
    }
    .banner-texts .banner-tittle{
        width: 100%;
        font-size: 7vw;
        margin: auto;
    }
    .banner-img{
        width: 100%;
        height: auto;
    }
    .banner-img img{
        width: 90%;
        height: auto;
        margin: auto;
    }
    .banner-texts .banner-my-name{
        width: 100%;
        font-size: 2.5em;
        font-family: 'Sacramento', cursive;
        color: var(--melon);
    }
    .cv-btn-container{
        width: 20%;
        margin: auto;
    }
    .skills-container img{
        display: block;
        width: 12%;
        height: auto;
        margin: 0 30px;
    }
    .skills-container h2,.skill-item .bx{
        font-size: 8vw;
    }
    .skills-items{
        flex-flow: row wrap;
    }
    .skill-item{
        width: 20%;
        flex-flow: row wrap;
    }
    .projects-item{
        flex-wrap: nowrap;
    }
    .project-skill .bx{
        font-size: 7vw;
        color: var(--russian-violet);
    }
    .projects-item img{
        width: 55%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .projects-description{
        width: 50%;
        padding: 20px;
    }
    .projects-item .projects-description h3{
        font-size: 5vw;
    }
    .about-me-container{
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .about-me-slider{
        width: 50%;
        height: auto;
    }
    .about-me-slider swiper-slide img{
        width: 80%;
        height: auto;
    }
    .about-me-texts{
        width: 50%;
        height: 100%;
    }
    .about-me-texts p{
        width: 80%;
        line-height: 30px;
        margin: auto;
    }
    .contact-container{
        width: 100%;
        height: auto;
        display: flex;
        padding: 30px;
        align-items: center;
        justify-content: center;
    }
    .contact-container video{
        width: 35%;
        margin: 10px;
        border-radius: 100%;
    }
    form{
        width: 50%;
        justify-content: flex-start;
    }
    .contact-more-info,form h2{
        width: 100%;
        min-width: 2em;
        margin: 0px;
    }
    .bxl-linkedin-square,.bxl-instagram-alt,.bxl-github{
        font-size: 4vw;
    }
    .contact-redes,.contact-copyright{
        width: 50%;
        text-align: center;
    }
    .contact-btn-container{
        width: 100%;
        transition: .5s;
    }
    .contact-btn{
        width: 25%;
    }
    .label_titulo{
        width: 100%;
        padding: 10px 20px;
    }
    footer form input{
        width: 85%;
    }
    footer form textarea{
        max-width: 85%;
        min-width: 85%;
        max-height:1000px;
        min-height:100px;
        width: 100%;
    }
}
