@import url(header.css);
@import url(btnStyles.css);
@import url(skills.css);
@import url(projects.css);
@import url(about-me.css);
@import url(footer.css);
@import url(keyFrames.css);
@import url(mediaquery.css);

:root{
--honolulu-blue: #197bbdff;
--ghost-white: #f2f4ffff;
--ghost-white-transparent: #f2f4ff00;
--russian-violet: #0b032dff;
--melon: #f0b5b3ff;
--ful-yellow:#FFF500;
--opacity-yellow:#fff70098;
}
*{
    list-style: none;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family:'Dosis','Martels','Montserrat','Raleway','Bitter';
    background: var(--russian-violet);
    color: var(--ghost-white);
    font-family: 'Montserrat', sans-serif;
}
.skills-container, .skills-items,.projects-container,.projects-slider,.projects-item,.project-skill,.projects-btn-slider,.projects-btn-slider ul,footer, form,.contact-btn-container,.contact-redes{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.skill-item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.wave{
    margin: 0;
    width: 100%;
    height: auto;
    border: none;
}
